doctype html
html
    head
        title #{title} - Social Monitor Euro 2016
        block stylesheets
            include partials/stylesheets
    body
        block header
            include partials/header
        block content
