body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
}

.header {
    margin-top: 50px;
    text-align: center;
}

.global-content {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.reactions-content, .sentiments-content {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.reactions-content>div, .reactions-content>svg, .sentiments-content>div, .sentiments-content>svg {
    margin: auto;
}

a {
  color: #00B7FF;
}

.reactions-code p, .sentiments-code p {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}

